.app-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 700px;
    height: 100vh;
}

.replybody-container{
    flex-grow: 1;
    margin-top: 10px;
    overflow: scroll;
    scrollbar-width: none;
}