.user{
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: top;
    padding: 10px 0px
}

.bot{
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: top;
    padding: 10px 0px
}

img{
    height: 50px;
    width: 50px;
    border-radius: 40%;
}

.textarea{
    background-color: #c1bebe;
    padding: 20px;
    border-radius: 10px;
    display:inline-block;
    border: 1px solid #8f928f;
    max-width: 400px;
}
